*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Poppins';
    src: url('/assets/fonts/Poppins/Poppins-Regular.ttf');
}

@font-face {
    font-family: 'NotoSans';
    src: url('/assets/fonts/Noto_Sans/static/NotoSans-Regular.ttf');
}

ul{
    list-style: none;
}
a{
    color: #000 !important;
}
i{
    font-size: 40px !important;
}

.sidebar{
    width: fit-content;
    height: 100vh;
    transition: all .5s ease-in-out;
    transform: translateX(-300px);
    .sidebar-container{
        width: 100%;
        border-top-right-radius: 12px;
        border-bottom-right-radius: 12px;
        ul{
            padding: 0;
            li{
                padding: 20px 40px;
                transition: all .5s ease-in-out;
                &:hover{
                    opacity: .9;
                    cursor: pointer;
                }
            }
        }
    }
    &.active{
        transform: translateX(0px);
    }
    &.fixed{
        position: fixed;
        top: 0;
    }
    &.fit-height{
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100vh;
    }
}

.sidebar-modes{
    height: fit-content;
    &.alignment{
        transform: translateX(144px);
    }
}

body{
    font-family: 'Poppins' !important;
    height: 500vh;
}